.row{
    padding: 50px;
}
div{
    background-color: #ffffff;
    text-align: center;
}

/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil {
        position: relative;
        width: 30%;
        border-radius: 100%;
        box-shadow: 1px 1px 1px grey;
        left: 35%;
        margin-top: 2%;
    }
}
    
@media (max-width: 577px){
    #fotodeperfil {
        position: relative;
        width: 30%;
        border-radius: 100%;
        box-shadow: 1px 1px 1px grey;
        margin-top: 2%;
        margin-left: 35%;
    }
}
    
/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10px;
}
