<div class="row">
    <h1>Hard and Soft Skills   <button type="button" class="btn btn-primary" routerLink="/newskill"
        *ngIf="isLogged"><i class="bi bi-plus-square"></i></button></h1>

    <div class="col-sm-4 col-md-4 col-lg-2 circulo"  *ngFor="let skill of skill">
        <!-- SKILL -->
        <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="50"
            [imageSrc]="''"
            [title]="(skill.nombre)"
            [showTitle]="true"
            [showSubtitle]="false"
            [showImage]="false"
            [showUnits]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [titleFontSize]="'1em'"
            [outerStrokeWidth]="8"
            [outerStrokeColor]="'#e44d24'"
            [innerStrokeColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

        <div>
            <td *ngIf="isLogged">

                <button *ngIf="isLogged" type="button" class="btn btn-outline-danger"
                   (click)="delete(skill.id)"><i class="bi bi-trash3"></i></button>
           
               <button *ngIf="isLogged" type="button" class="btn btn-outline-primary"
                   routerLink="/editskill/{{skill.id}}"><i class="bi bi-pencil-square"></i></button>
                   </td>
        </div>
    </div>
    
</div>